.content{
  width: 50vw;
  margin: 20vh 18vw 0 10vw;
  float: right;
}

.work{
  &__title{
    text-align: center;
    font-size: 2vw;
    letter-spacing: 0.5vw;
    margin-bottom: 5vh;
  }
  &__container{
      font-family: 'yugothic';
      padding-bottom: 10vh;
      border-bottom: 1px #000 solid;
    h2{
      line-height: 5em;
    }
    img{
      width:50vw;
    }
  }
}